{{define "header"}}
<header class="contents-header">
  <div class="header-inner">
    <a class="header-logo" href="/">
      <img class="logo" src="/static/img/header/yorushika_logo.png" alt="yorushika">
    </a>
    <button class="toggle-menu"></button>
    <div class="header-menu">
      <nav class="site-menu">
        <ul class="nav-menu">
          <li class="nav-list">
            <a class="link" href="/">INDEX</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
{{end}}