{{define "content"}}

<div class="first-view">
  <div class="view-text">
    <h1 class="title">Welcome to <br>Yorushika store</h1>
    <p class="text">please have a good stay</p>
  </div>
</div>
<div class="first-lead">
  <p class="lead">このサイトではヨルシカについて記載しています。<br>
    ヨルシカの概要、おすすめ曲、<br>
    アルバム、聖地について紹介しています。<br>
    ヨルシカの良さが少しでも多くの人に伝わればと思います。
  </p>
  <div class="link-button">
    <a class="link" href="/">OVERVIEW</a>
  </div>
</div>
<div class="recommend-song">
  <h2 class="header">RECOMMEND</h2>
  <ul class="item-list">

  </ul>
  <div class="link-button">
    <a class="link" href="/">RECOMMEND</a>
  </div>
</div>

{{end}}